* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Roboto", sans-serif;
}

img {
   width: 100%;
}

.main-body {
   padding: 150px 0;
   background: #d5d3cf;
}

.main-body .slider {
   position: relative;
   max-width: 90%;
   margin: auto;
   overflow: hidden;
}

.slider:hover .slider-nxt,
.slider:hover .slider-prv {
   opacity: 1;
}

.slider .slider-dots {
   position: absolute;
   left: 50%;
   bottom: 16px;
   z-index: 1;
   transform: translateX(-50%);
   display: flex;
   align-items: center;
   justify-content: center;
   list-style: none;
}

.slider .slider-dots li {
   margin: 0 10px;
   width: 20px;
   height: 10px;
   border-radius: 2px;
   cursor: pointer;
   background-color: rgba(255, 255, 255, 0.5);
   box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
   transition: background-color 0.25s linear;
}

.slider .slider-dots li.active,
.slider .slider-dots li:hover {
   background-color: #fff;
}

.slider .slider-wrapper {
   position: relative;
   height: 100%;
   overflow: hidden;
}

.slider .slider-main {
   position: relative;
   display: flex;
   user-select: none;
   transition: transform 0.5s linear;
}

.slider .slider-prv,
.slider .slider-nxt {
   position: absolute;
   top: 50%;
   z-index: 1;
   display: flex;
   width: 50px;
   height: 90%;
   font-size: 3rem;
   align-items: center;
   justify-content: center;
   color: #ccc;
   cursor: pointer;
   opacity: 0;
   transform: translateY(-50%);
   transition: opacity 0.4s linear;
   background: rgba(0, 0, 0, 0.3);
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.slider .slider-nxt {
   right: 0;
}

.slider .slider-item {
   width: 100%;
   flex: 1 0 100%;
}

.slider .slider-item:first-child {
   opacity: 1;
}

.slider .slider-item img {
   width: 100%;
   height: 640px;
}

.content-container .content-row {
   width: 90%;
   margin: 30px auto 0;
}

.content-container .content-title {
   font-size: 2rem;
   font-weight: 500;
   opacity: 0.8;
   text-align: center;
}

.content-container .swiper-wrapper {
   list-style: none;
   overflow: hidden;
   margin-top: 20px;
   
}

.content-container .swiper {
   display: flex;

}

.swiper .swiper-slide {
   /* margin-right: 10px; */
   flex: 1 0 25%;
}

.swiper-slide .slide-article {
   margin: 0 10px;
}
