* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body.dark,
.container-food.dark {
  background: #272a2c;
}

.food-list.dark,
.cart.dark,
.search.dark,
input.dark,
.modal-body.dark {
  color: #fff;
  background: #181a1b !important;
  border-color: rgb(62, 68, 70);
}

.menu.dark,
.menu.dark li {
  background: #181a1b !important;
  box-shadow: rgb(39 42 44) 3px 3px 6px 0px;
}

.menu.dark a,
.food-list.dark h4,
.food-list.dark .food-des,
.cart.dark .shopping-cart-left h4,
.cart.dark .shopping-cart-left p,
.cart.dark span,
.modal-body.dark span,
.container-food.dark h3 {
  color: #fff !important;
  opacity: 0.7;
}

.container-food.dark .cart-top a {
  background: #915805;
}

.cart-bottom.dark {
  border-top-color: rgb(62, 68, 70) !important;
}

.footer.dark {
  background: #1e2021;
}

.copyright.dark {
  color: #fff;
  opacity: 0.8;
  background: #35393b;
}

body {
  min-height: 200vh;
  background-color: #e5e5e5;
}

html {
  scroll-behavior: smooth;
}

/* SWITCH BUTTON */
.switch-btn {
  display: flex;
  margin-top: 30px;
  justify-content: right;
  margin: 0 80px 10px 0;
}

.checkbox {
  display: none;
}

.switch-icon {
  font-size: 2rem;
  color: var(--clr);
}

.label {
  position: relative;
  display: flex;
  width: 100px;
  height: 39px;
  padding: 5px;
  margin-top: 20px;
  align-items: center;
  border-radius: 50px;
  background: whitesmoke;
  justify-content: space-between;
}

.switch {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #ff8c00;
  transition: all 0.2s linear;
}

.checkbox:checked+.label {
  background: #A3DAFB;
}

.checkbox:checked+.label .switch {
  background: #8983f7;
  transform: translateX(59px);
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: 0 0 6px black;
}

::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 10px;
  box-shadow: 0 0 6px black;
}

.cart .shopping-item::-webkit-scrollbar-thumb {
  background-color: orange;
  border-radius: 5px;
}

.cart .shopping-item::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(149, 145, 145);
}

/* Header */
header {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: 0.6s;
  padding: 40px 100px;
  z-index: 1;
  transition: all 0.6s ease-in-out;
  padding: 5px 100px;
}

header .img-logo {
  display: flex;
  align-items: center;
}

header .img-logo a img {
  width: 70px;
  margin-right: 15px;
  transition: width 1s ease;
}

header .logo {
  text-decoration: none;
  font-weight: 200px;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 0 2px rgba(0, 0, 0, 0.2);
  padding: 0 24px;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
}

header ul li:hover::after {
  width: 80%;
}

header ul li a {
  text-decoration: none;
  margin: 0 15px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 500px;
  font-size: 1.2rem;
}

header ul li:hover a {
  color: orangered;
}

header ul li::after {
  content: "";
  display: block;
  background: orangered;
  width: 0;
  height: 2px;
  transition: width 1s;
  margin: auto;
  margin-top: 2px;
}

/*Grid*/
.grid {
  width: 1400px;
  max-width: 100%;
  margin: 0 auto;
}

.row-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.col-3 {
  width: 25%;
  padding-left: 15px;
  padding-right: 15px;
}

.col-5 {
  width: 41.6667%;
  padding: 0 15px 40px;
}

.col-4 {
  width: 33.3333%;
  padding-left: 15px;
  padding-right: 15px;
}

.col-6 {
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}

/* Container */
.container-food {
  padding-top: 80px;
  background: #e5e5e5;
  transition: all 0.2s linear;
}

.menu {
  box-shadow: 3px 3px 6px 0 #e5e5e5;
  position: sticky;
  top: 100px;
}

.menu .menu-list li {
  list-style: none;
  padding: 15px;
  background-color: #fff;
}

.menu .menu-list li h4 {
  text-decoration: none;
  display: block;
  color: #777;
  text-transform: uppercase;
}

.menu .menu-list li h4:hover {
  color: orange;
  cursor: pointer;
}

.search {
  padding: 10px;
  display: flex;
  border: 1px solid #ccc;
  background-color: #fff;
}

.search .search-btn {
  font-size: 1.2rem;
  color: #777;
}

.search input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0 8px;
  margin-left: 8px;
}

.food .food-text {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #5c5c5c;
  font-weight: 600px;
  margin: 30px 0 10px 0;
}

.food-list {
  display: flex;
}

.food-list .food-img {
  width: 160px;
  overflow: hidden;
  height: 100%;
}

.food-list .food-img img {
  width: 100%;
  border-radius: 5px;
}

.food-list {
  padding: 12px;
  background-color: #fff;
  position: relative;
  border-bottom: 1px dotted #ccc;
}

.food-list .food-text {
  margin-left: 12px;
  flex: 1;
}

.food-list .food-text .food-name {
  font-size: 1.1rem;
  color: #5c5c5c;
}

.food-list .food-text .food-des {
  font-size: 1rem;
  color: #5c5c5c;
  margin: 8px 0;
}

.food-list .food-text .food-price {
  color: orangered;
}

.food-list .food-add {
  align-self: flex-end;
  display: block;
  padding: 4px 5px;
  border: 2px solid orange;
  border-radius: 50%;
  margin-bottom: 5px;
  margin-right: 5px;
}

.food-list .food-add .add {
  color: orange;
  font-size: 1.4rem;
}

.cart {
  background-color: #fff;
  position: sticky;
  top: 100px;
}

.cart .shopping-item {
  max-height: 50vh;
  overflow-y: auto;
}

.cart .cart-top {
  text-align: center;
}

.cart .cart-top a {
  text-decoration: none;
  background-color: #fabc60;
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 8px;
  border-radius: 2px;
}

.cart .cart-top a:hover {
  background-color: orange;
}

.cart .cart-top a.disabled {
  pointer-events: none;
  cursor: default;
}

.cart .shopping-cart {
  display: flex;
  padding: 20px;
}

.cart .shopping-cart .shopping-cart-img img {
  width: 100%;
  border-radius: 5px;
}

.cart .shopping-cart .shopping-cart-img {
  width: 70px;
}

.cart .shopping-cart .shopping-cart-content {
  flex: 1;
  margin-left: 15px;
}

.cart .shopping-cart .shopping-cart-content .shopping-cart-left h4 {
  font-size: 1.1rem;
  color: #5c5c5c;
}

.cart .shopping-cart .shopping-cart-content .shopping-cart-left p {
  font-size: 0.9rem;
  color: #5c5c5c;
  margin-top: 10px;
}

.cart .shopping-cart-right p {
  color: orangered
}

.cart .shopping-cart-right a {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #5c5c5c;
  margin-top: 10px;
}

.cart .cart-top,
.cart .cart-bottom {
  padding: 20px;
}

.cart .cart-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px dotted #ccc;
}

.cart .cart-bottom .all {
  color: orange;
}

.cart .cart-bottom .price-cart {
  color: #000;
  font-weight: bold;
  font-size: 1.25rem;
}

/* Footer */
.footer {
  background-color: #24262b;
  padding: 70px 0;
  margin-top: 40px;
}

.footer .container {
  max-width: 1170px;
  margin: auto;
}

.footer .container .row ul {
  list-style: none;
}

.footer .container .row {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 1.125rem;
  color: #ffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer ul li a {
  font-size: 1rem;
  text-transform: capitalize;
  counter-reset: #fff;
  text-decoration: none;
  font-weight: 300;
  color: #bbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #fff;
  padding-left: 10px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #fff;
}

/* Copy Right */
.copyright {
  text-align: center;
  width: 100%;
  height: 30px;
  background-color: #ccc;
  border-top: 2px solid #000;
}

.copyright p {
  font-size: 1 rem;
  line-height: 30px;
}

/* Modal */
.modal.js-modal.open {
  display: block;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
  display: none;
}

.wrapper {
  overflow: hidden;
  max-width: 390px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper .title-text {
  display: flex;
  width: 200%;
}

.wrapper .title {
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .slide-controls {
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.slide-controls .slide {
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}

.slide-controls label.signup {
  color: #000;
}

.slide-controls .slider-tab {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  background: -webkit-linear-gradient(left, orangered, orange);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

input[type="radio"] {
  display: none;
}

#signup:checked~.slider-tab {
  left: 50%;
}

#signup:checked~label.signup {
  color: #fff;
  cursor: default;
  user-select: none;
}

#signup:checked~label.login {
  color: #000;
}

#login:checked~label.signup {
  color: #000;
}

#login:checked~label.login {
  cursor: default;
  user-select: none;
}

.wrapper .form-container {
  width: 100%;
  overflow: hidden;
}

.form-container .form-inner {
  display: flex;
  width: 200%;
}

.form-container .form-inner form {
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-inner form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
}

.form-inner form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}

.form-inner form .field input:focus {
  border-color: #fc83bb;
}

.form-inner form .field input::placeholder {
  color: #999;
  transition: all 0.3s ease;
}

form .field input:focus::placeholder {
  color: #b3b3b3;
}

.form-inner form .pass-link {
  margin-top: 5px;
}

.form-inner form .signup-link {
  text-align: center;
  margin-top: 30px;
}

.form-inner form .pass-link a,
.form-inner form .signup-link a {
  color: orangered;
  text-decoration: none;
}

.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover {
  text-decoration: underline;
}

form .btn {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

form .btn .btn-layer {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right,
      orange,
      orange,
      orangered,
      orangered);
  border-radius: 5px;
  transition: all 0.4s ease;
}

form .btn:hover .btn-layer {
  left: 0;
}

form .btn input[type="submit"] {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

/* Modal */
.modal-food {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  display: none;
}

.modal-food .modal-body {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  max-width: 750px;
}

.modal-food .modal-food-img img {
  width: 100%;
  border-radius: 5px;
}

.modal-food-des .modal-food-name {
  font-size: 1.25rem;
  color: #805c5c;
}

.modal-food-des .modal-food-price {
  color: orangered;
  margin: 8px 0;
}

/* Radio */
.group-radio {
  display: flex;
  flex-wrap: wrap;
}

.container-radio {
  display: flex;
  position: relative;
  padding-left: 24px;
  margin-bottom: 12px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
}

.container:hover input~.checkmark {
  background-color: #ccc;
}

.container-radio input:checked~.checkmark {
  background-color: orange;
}

.container-radio input:checked~.checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.note p {
  font-size: 1rem;
  color: #5c5c5c;
  font-weight: bold;
  margin: 5px 0;
}

.note .form-note {
  width: 100%;
  border: 1px dotted #ccc;
  display: flex;
  padding: 8px;
}

.note .form-note i {
  color: #5c5c5c;
  font-size: 1.125rem;
}

.note .form-note input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
  margin-left: 8px;
}

.number {
  display: flex;
  margin: 5px 0 0 0;
  align-items: center;
}

.number p {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0 10px;
  color: #5c5c5c;
}

.number a {
  border: 2px solid orange;
  padding: 4px 7px;
  border-radius: 50%;
  margin: 0px 8px;
  color: orange;
}

.number a:hover {
  background-color: orange;
  color: #fff;
}

.add-to-cart {
  background-color: orange;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}

.add-to-cart a {
  text-decoration: none;
  color: #fff;
  display: block;
}

#btn-close {
  position: absolute;
  top: 0;
  right: 0;
}

#btn-close a {
  display: block;
  text-decoration: none;
  position: absolute;
  width: 30px;
  height: 30px;
  right: -12px;
  top: -12px;
  text-align: center;
  line-height: 25px;
  background-color: #444;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
}

#btn-close a i {
  font-size: 1.125rem;
}

.modal-food.open {
  display: block;
}

header .btn-mobile .close-btn{
  display: none;
}
header .btn-mobile .menu-btn{
  display: none;
}